<!DOCTYPE html>
<html lang="en">
<head>
  <title>HeavyD Security Status</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/style.css">
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="content-language" content="en"/>
</head>
<body>

<div class="l-colum-group">
  <div class="l-left-column">
    <header class="l-header -small">
      <a href="/" class="logo -small">
        <img class="logo__image" src="/assets/img/logo.png">
      </a>

      <div class="masthead -small">
        <h2 class="masthead__main">Heavy Duty Drupal</h2>
        <h3 class="masthead__sub">Security Status overview</h3>
      </div>
    </header>
  </div>

  <div class="l-right-column">
      <h1>Security Status</h1>
      {{ content|raw }}
  </div>
</div>

</body>
